body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #9c95c9;
}

.notePage {
    background-color: rgb(241, 218, 101);
    width: 35%;
    height: auto;
    margin: auto;
    border: 3px solid black;
    padding: 20px;
}

.tasklist {
    /* margin: auto;
    width: 50%;
    text-align: center; */
}

.notesList {
    word-wrap: break-word;

}

.listHeader {
    margin: 0;
    text-align: center;
}

.noteItem {
    margin: 7px;
}

.textArea {
    display: block;
    margin: auto;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.addButton {
    width: 40%;
}

.deleteButton {
    width: 40%;
}